<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//Spring//DTD Bean//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
    
<beans>

  <bean id="categoryListRestlet" class="org.jlibrary.web.rest.restlet.CategoryListRestlet" />
  <bean id="categoryRestlet" class="org.jlibrary.web.rest.restlet.CategoryRestlet" />
  <bean id="documentRestlet" class="org.jlibrary.web.rest.restlet.CategoryRestlet" />
  <bean id="folderRestlet" class="org.jlibrary.web.rest.restlet.CategoryRestlet" />
  <bean id="defaultPageRestlet" class="org.jlibrary.web.rest.restlet.CategoryRestlet" />
  
  <bean id="manager" class="org.jlibrary.web.rest.RestManager">
    <property name="resourceMappings">
         <bean class="java.util.HashMap">
              <constructor-arg>
                <map>
                  <entry key="/cat/{category}"><ref local="categoryRestlet" /></entry>
                  <entry key="/doc/{document}"><ref local="documentRestlet" /></entry>
                  <entry key="/folder/{folder}"><ref local="folderRestlet" /></entry>
                  <entry key="/index"><ref local="categoryListRestlet" /></entry>
  		</map>
              </constructor-arg>
            </bean>
        </property>  
    </bean>

	<bean id="exporter" 
	      init-method="init"
	      class="org.jlibrary.web.rest.exporters.freemarker.FreemarkerExporter">
	  <!-- templates in /WEB-INF/classes/templates/nodes/  -->
	</bean>
	    

<!--
  <bean id="profile" class="org.jlibrary.core.profiles.RemoteServerProfile">
    <property name="location" value="http://jlibrary.javaconganas.com"/> 
    <property name="name" value="demo"/> 
  </bean>
  
  <bean id="credentials" class="org.jlibrary.core.entities.Credentials">
    <property name="user" value="admin"/> 
    <property name="password" value="changeme"/> 
  </bean>
  -->
</beans>