<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.applications"
         id="application"
         name="%appName">
      <application>
         <run
            class="org.jlibrary.client.JLibraryApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%RepositoryPerspective.label"
            icon="resources/icons/jlibrary16x16.jpg"
            class="org.jlibrary.client.perspectives.RepositoryPerspective"
            id="org.jlibrary.client.perspectives.RepositoryPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%NavigatorPerspective.label"
            icon="resources/icons/html.gif"
            class="org.jlibrary.client.perspectives.NavigatorPerspective"
            id="org.jlibrary.client.perspectives.NavigatorPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%CategoriesPerspective.label"
            icon="resources/icons/category.gif"
            class="org.jlibrary.client.perspectives.CategoriesPerspective"
            id="org.jlibrary.client.perspectives.CategoriesPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%SecurityPerspective.label"
            icon="resources/icons/security.gif"
            class="org.jlibrary.client.perspectives.SecurityPerspective"
            id="org.jlibrary.client.perspectives.SecurityPerspective">
      </perspective>
   </extension>   

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%Repository.category"
            id="repository">
      </category>
      <category
            name="%Navigator.category"
            id="navigator">
      </category>          
      <category
            name="%Security.category"
            id="security">
      </category>
      <category
            name="%Categories.category"
            id="categories">
      </category>     
      <view
            name="%ProgressView.label"
            icon="resources/icons/pview.gif"
            category="repository"
            class="org.eclipse.ui.internal.progress.ProgressView"
            id="org.eclipse.ui.views.ProgressView">
      </view>
      <view
            name="%DocumentsView.label"
            icon="resources/icons/document.gif"
            category="categories"
            class="org.jlibrary.client.ui.categories.DocumentsView"
            id="org.jlibrary.client.ui.categories.DocumentsView">
      </view>     
      <view
            name="%RepositoryView.label"
            icon="resources/icons/jlibrary16x16.jpg"
            category="repository"
            class="org.jlibrary.client.ui.repository.views.RepositoryView"
            id="org.jlibrary.client.ui.repository.views.repositoryView">
      </view>
      <view
            name="%WorkingSetView.label"
            icon="resources/icons/working.gif"
            category="repository"
            class="org.jlibrary.client.ui.repository.views.WorkingSetView"
            id="org.jlibrary.client.ui.repository.views.workingSetView">
      </view>      
      <view
            name="%ResourcesView.label"
            icon="resources/icons/resources.gif"
            category="repository"
            class="org.jlibrary.client.ui.repository.views.ResourcesView"
            id="org.jlibrary.client.ui.repository.views.resourcesView">
      </view>
      <view
            name="%RelationsView.label"
            icon="resources/icons/relation.gif"
            category="repository"
            class="org.jlibrary.client.ui.relations.RelationsView"
            id="org.jlibrary.client.ui.relations.RelationsView">
      </view>
      <view
            name="%PropertiesView.label"
            icon="resources/icons/prop_ps.gif"
            category="repository"
            class="org.eclipse.ui.views.properties.PropertySheet"
            id="org.eclipse.ui.views.PropertySheet">
      </view>      
      <view
            name="%BookmarksView.label"
            icon="resources/icons/bookmarks.gif"
            category="navigator"
            class="org.jlibrary.client.ui.bookmarks.BookmarksView"
            id="org.jlibrary.client.ui.bookmarks.BookmarksView">
      </view>
      <view
            name="%HistoryView.label"
            icon="resources/icons/history.gif"
            category="navigator"
            class="org.jlibrary.client.ui.history.HistoryView"
            id="org.jlibrary.client.ui.history.historyView">
      </view>
      <view
            name="%SearchView.label"
            icon="resources/icons/search.gif"
            category="repository"
            class="org.jlibrary.client.ui.search.SearchView"
            id="org.jlibrary.client.ui.search.searchView">
      </view>
      <view
            name="%CategoriesView.label"
            icon="resources/icons/category.gif"
            category="categories"
            class="org.jlibrary.client.ui.categories.CategoriesView"
            id="org.jlibrary.client.ui.categories.CategoriesView">
      </view>
      <view
            name="%FavoritesView.label"
            icon="resources/icons/favorite.gif"
            category="categories"
            class="org.jlibrary.client.ui.favorites.FavoritesView"
            id="org.jlibrary.client.ui.favorites.FavoritesView">
      </view>
      <view
            name="%UsersView.label"
            icon="resources/icons/user.png"
            category="security"
            class="org.jlibrary.client.ui.security.views.UsersView"
            id="org.jlibrary.client.ui.security.views.UsersView">
      </view>
      <view
            name="%GroupsView.label"
            icon="resources/icons/group.png"
            category="security"
            class="org.jlibrary.client.ui.security.views.GroupsView"
            id="org.jlibrary.client.ui.security.views.GroupsView">
      </view>
      <view
            name="%RolesView.label"
            icon="resources/icons/rol.png"
            category="security"
            class="org.jlibrary.client.ui.security.views.RolesView"
            id="org.jlibrary.client.ui.security.views.RolesView">
      </view> 
      <view
            name="%RestrictionsView.label"
            icon="resources/icons/restriction.gif"
            category="security"
            class="org.jlibrary.client.ui.security.views.RestrictionsView"
            id="org.jlibrary.client.ui.security.views.RestrictionsView">
      </view>
      <view
            name="%AuthorsView.label"
            icon="resources/icons/author.gif"
            category="security"
            class="org.jlibrary.client.ui.authors.AuthorsView"
            id="org.jlibrary.client.ui.authors.authorsView">
      </view>                                  
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%NavigationActionSet.label"
            description="%NavigationActionSet.description"
            visible="false"
            id="org.jlibrary.client.ui.web.actions.NavigationActionSet">
         <action
               class="org.jlibrary.client.ui.web.actions.NavigateSingleRipAction"
               disabledIcon="resources/icons/crawl_single_disabled.gif"
               icon="resources/icons/crawl_single.gif"
               id="org.jlibrary.client.ui.web.actions.NavigateSingleRipAction"
               label="%NavigateSingleRip.label"
               toolbarPath="additions"
               tooltip="%NavigateSingleRip.tooltip">
         </action>
         <action
               class="org.jlibrary.client.ui.web.actions.NavigateMultipleRipAction"
               disabledIcon="resources/icons/crawl_multiple_disabled.gif"
               icon="resources/icons/crawl_multiple.gif"
               id="org.jlibrary.client.ui.web.actions.NavigateMultipleRipAction"
               label="%NavigateMultipleRip.label"
               toolbarPath="additions"
               tooltip="%NavigateMultipleRip.tooltip">
         </action>         
         <action
               class="org.jlibrary.client.ui.web.actions.NavigateForwardAction"
               disabledIcon="resources/icons/right_disabled.gif"
               icon="resources/icons/right.gif"
               id="org.jlibrary.client.ui.web.actions.NavigateForwardAction"
               label="%NavigateForward.label"
               toolbarPath="additions"
               tooltip="%NavigateForward.tooltip">
         </action>
         <action
               class="org.jlibrary.client.ui.web.actions.NavigateBackwardAction"
               disabledIcon="resources/icons/left_disabled.gif"
               icon="resources/icons/left.gif"
               id="org.jlibrary.client.ui.web.actions.NavigateBackwardAction"
               label="%NavigateBackward.label"
               toolbarPath="additions"
               tooltip="%NavigateBackward.tooltip">
         </action>
         <action
               class="org.jlibrary.client.ui.web.actions.NavigateRefreshAction"
               disabledIcon="resources/icons/refresh_disabled.gif"
               icon="resources/icons/refresh.gif"
               id="org.jlibrary.client.ui.web.actions.NavigateRefreshAction"
               label="%NavigateRefresh.label"
               toolbarPath="additions"
               tooltip="%NavigateRefresh.tooltip">
         </action>
         <action
               class="org.jlibrary.client.ui.web.actions.NavigateStopAction"
               disabledIcon="resources/icons/stop_disabled.gif"
               icon="resources/icons/stop.gif"
               id="org.jlibrary.client.ui.web.actions.NavigateStopAction"
               label="%NavigateStop.label"
               toolbarPath="additions"
               tooltip="%NavigateStop.tooltip">
         </action>
         <action
               class="org.jlibrary.client.ui.web.actions.NavigateNewAction"
               disabledIcon="resources/icons/html_disabled.gif"
               icon="resources/icons/html.gif"
               id="org.jlibrary.client.ui.web.actions.NavigateNewAction"
               label="%NavigateNew.label"
               toolbarPath="additions"
               tooltip="%NavigateNew.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.jlibrary.client.part.NodeEditorFactory"
            id="org.jlibrary.client.part.NodeEditorFactory"/>
   </extension>
   <extension
         id="org.jlibrary.ui.editor"
         point="org.eclipse.ui.editors">
      <editor
            name="Platform Browser Editor"
            default="true"
            extensions="pdf,sxc,sxi,sxw,dwg,mht,odt,odb,ods,odf,odg,odm,odp"
            icon="resources/icons/edit.gif"
            class="org.jlibrary.client.ui.editor.GenericEditor"
            id="org.jlibrary.client.ui.editor.GenericEditor">
      </editor>
      <editor
            name="HTML Editor"
            default="true"
            extensions="html,htm,asp,jsp,cfm,cfml"
            icon="resources/icons/edit.gif"
            class="org.jlibrary.client.ui.editor.impl.HTMLEditor"
            id="org.jlibrary.client.ui.editor.impl.HTMLEditor">
      </editor>      
      <editor
            class="org.jlibrary.client.ui.editor.impl.XMLEditor"
            default="true"
            extensions="xml,dtd,xsl"
            icon="resources/icons/edit.gif"
            id="org.jlibrary.client.ui.editor.impl.XMLEditor"
            name="XML Editor">
      </editor>
      <editor
            class="org.jlibrary.client.ui.editor.impl.ImageEditor"
            default="true"
            extensions="jpg,bmp,png,gif,tif,tiff,ico"
            icon="resources/icons/edit.gif"
            id="org.jlibrary.client.ui.editor.impl.ImageEditor"
            name="Image Editor">            
      </editor>
      <editor
            class="org.jlibrary.client.ui.editor.impl.TextEditor"
            default="true"
            extensions="txt,java,cpp,c,bat,sh"
            icon="resources/icons/edit.gif"
            id="org.jlibrary.client.ui.editor.impl.TextEditor"
            name="Text Editor">            
      </editor> 
      <editor
            class="org.jlibrary.client.ui.editor.impl.SystemGenericEditor"
            default="true"
            icon="resources/icons/edit.gif"
            id="org.jlibrary.client.ui.editor.impl.SystemGenericEditor"
            name="System Editor">            
      </editor>
             
      <!-- Editor for navigator perspective pages -->
      <editor
            class="org.jlibrary.client.ui.editor.impl.WebEditor"
            default="true"
            icon="resources/icons/edit.gif"
            id="org.jlibrary.client.ui.editor.impl.WebEditor"
            name="Web Editor">            
      </editor>                       
      
     
      <!-- Internal editors. Warning don't touch the following definitions-->
      <editor
            class="org.jlibrary.client.ui.editor.impl.DirectoryEditor"
            default="true"
            icon="resources/icons/directory.gif"
            id="org.jlibrary.client.ui.editor.impl.DirectoryEditor"
            name="Directories Editor">            
      </editor> 
      <editor
            class="org.jlibrary.client.ui.editor.impl.RepositoryEditor"
            default="true"
            icon="resources/icons/repository.gif"
            id="org.jlibrary.client.ui.editor.impl.RepositoryEditor"
            name="Repositories Editor">            
      </editor>
      <editor
            class="org.jlibrary.client.ui.editor.impl.RolEditor"
            default="true"
            icon="resources/icons/rol.png"
            id="org.jlibrary.client.ui.editor.impl.RolEditor"
            name="Roles Editor">            
      </editor>                   
      <editor
            class="org.jlibrary.client.ui.editor.impl.GroupEditor"
            default="true"
            icon="resources/icons/group.png"
            id="org.jlibrary.client.ui.editor.impl.GroupEditor"
            name="Groups Editor">            
      </editor>                   
      <editor
            class="org.jlibrary.client.ui.editor.impl.UserEditor"
            default="true"
            icon="resources/icons/user.png"
            id="org.jlibrary.client.ui.editor.impl.UserEditor"
            name="Users Editor">            
      </editor>
      <editor
            class="org.jlibrary.client.ui.editor.impl.CategoryEditor"
            default="true"
            icon="resources/icons/category.gif"
            id="org.jlibrary.client.ui.editor.impl.CategoryEditor"
            name="Categories Editor">                   
      </editor>
      <editor
            class="org.jlibrary.client.ui.editor.impl.AuthorEditor"
            default="true"
            icon="resources/icons/author.gif"
            id="org.jlibrary.client.ui.editor.impl.AuthorEditor"
            name="Authors Editor">                   
      </editor>
      
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%preferences"
            class="org.jlibrary.client.preferences.JLibraryPreferences"
            id="org.jlibrary.client.preferences.JLibraryPreferences">
      </page>
      <page
            name="%preferences.repository"
            category="org.jlibrary.client.preferences.JLibraryPreferences"
            class="org.jlibrary.client.preferences.JLibraryRepositoryPreferences"
            id="org.jlibrary.client.preferences.JLibraryRepositoryPreferences">
      </page>
      <page
            name="%preferences.extraction"
            category="org.jlibrary.client.preferences.JLibraryPreferences"
            class="org.jlibrary.client.preferences.JLibraryExtractionPreferences"
            id="org.jlibrary.client.preferences.JLibraryExtractionPreferences">
      </page>      
   </extension>
   
      <extension 
	    point="org.eclipse.ui.decorators">
		
		<decorator
			adaptable="true"
			lightweight="true"
			objectClass="org.jlibrary.core.entities.Document"
			label="%DecoratorNode.name"
			state="true"
			class="org.jlibrary.client.ui.repository.decorators.DecoratorNode"
			id="org.jlibrary.client.ui.repository.decorators.decoratorNode">
			<description>
				%DecoratorNode.description
			</description>
		
		</decorator>
	</extension>
   
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.jlibrary.client.application"
            name="jLibrary">
         <property
               name="aboutImage"
               value="icons/alt_about.gif"/>
         <property
               name="startupProgressRect"
               value="0,0,0,0"/>
      </product>
   </extension>
   <extension
         id="intro"
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.jlibrary.client.intro"
            productId="org.jlibrary.client.product"/>
   </extension>


</plugin>
